@using DataLayer
@{
    ViewBag.Title = "PatientDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Document Upload for Patient</div>
            <div class="panel-body">
                @using (Html.BeginForm("PatientDetail", "Masters", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="container">
                        <table style="width:100%">
                            <tr>
                                <td style="width:30%">
                                    <label>Document Title</label>
                                    <input type="text" name="title" id="title" style="width: 100%;" required />
                                </td>
                                <td style="width:30%">
                                    <label>Document Type</label>
                                    <select class="form-control" style="width: 100%;" id="doctype" name="DocType" required="required">
                                        <option value="0">Select Document Type</option>
                                        <option value="PDF">PDF</option>
                                        <option value="Doc">Doc</option>
                                        <option value="Image">Image</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </td>
                                <td style="width:30%">
                                    <label>Document</label>
                                    <input type="file" name="document" id="document" style="width: 100%;" required />
                                    <br />
                                </td>
                                <td style="width:10%">
                                    <input type="submit" name="Upload" class="btn btn-primary btn-blue btn-block btn-lg" value="Upload" style="width:100px;">
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                <hr />
                <div class="container">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Document Title</th>
                                <th>Document Type</th>
                                <th>Document</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var documents = (List<PatientDocument>)(ViewData["documents"]);
                                if (documents != null)
                                {
                                    foreach (var document in documents)
                                    {
                                        <tr>
                                            <td>
                                                @document.Id
                                            </td>
                                            <td>
                                                @document.DocumentTitle
                                            </td>
                                            <td>
                                                @document.DocumentType
                                            </td>
                                            <td>
                                                @{
                                                    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
                                                    string fileURL = baseUrl + @document.DocumentPath.Replace("~/", "");
                                                    <a class="navbar-brand" href="@fileURL" style="font-size:15px;" target="_blank">
                                                        @if (!string.IsNullOrEmpty(document.DocumentPath))
                                                        {
                                                            @document.DocumentPath.Substring(@document.DocumentPath.LastIndexOf('/') + 1, @document.DocumentPath.Length - @document.DocumentPath.LastIndexOf('/') - 1)
                                                        }
                                                    </a>
                                                }

                                            </td>
                                            <td>
                                                <a class="navbar-brand" href="/Masters/DeleteHospital/@document.Id" style="font-size:15px;">Delete</a>
                                                @*@Html.ActionLink("Delete", "DeleteHospital", "Masters", new { Id = document.Id }, new { @class = "navbar-brand" })*@
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


